.dd-wrapper ul, .dd-wrapper ul li, .dd-wrapper li, .dd-wrapper li ul, .dd-wrapper li ul li {margin: 0; padding: 0; list-style: none;}
.dd-wrapper .menu {overflow: hidden;}
.dd-wrapper .menu ul {margin: 0; position: absolute; top: 0; right: 0;}
.dd-wrapper .dd-parent {position: relative;}
.dd-wrapper .menu a {display: block;}